
/* reset */
* {margin:0; padding:0; vertical-align:baseline;}

/* palette: #00207F lightest, #0040FF most lila, #0033CC light, #00207F darker, #00207F almost black */
/* blues: #00207F dark, ; #0033CC brighter ; #0040FF brightest; /*

/* Colors and fonts */
body {
    background: #FFFFFF;
    color: #000000;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 300;
}
a:link, a:visited, #content a:link, #content a:visited, dl.portlet a:link {color:#0033CC;}
a:hover {color:#00207F;}
h1, h2, h3, h4, h5, h6 {font-family: "Roboto", Arial, Helvetica, sans-serif;color: #00207F;}
.wrapper { width:auto; margin: 0 auto; }
#main {background:#FFFFFF; font-size: 1.3em; padding: 1em 0;}
/* navigation */
#rfd15 #portal-globalnav {background: transparent;
      text-align: left;
      color: #00207F;
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-size: 170%;
      font-weight: 500;
      padding: 0 2em 0 1em;}
#rfd15 #portal-globalnav a {color: #00207F; padding: 1.1em 1.1em 1em 0.8em; text-decoration: none;}
#rfd15 #portal-globalnav a, #portal-globalnav li {
    border-top: 3px solid white;
}
#rfd15 #portal-globalnav a:hover, #portal-globalnav li.selected a {
    color: #0040FF;
    border-top: 3px solid #0040FF;
}


#rfd15 #portal-globalnav li.selected a {
  background-color:white;
}
#rfd15 #portal-globalnav li a {
  line-height: 0;
  background-color: white;
}


#portal-globalnav li {display: inline; }
a.hasChildrens:after {
   font-family: FontAwesome;
   content: "\f078";
   display: inline-block;
   margin-left: 1em;
   vertical-align: middle;
}
#rfd15 #portal-globalnav li a span{display:inline;}

#rfd15 #portal-globalnav ul li a.hasChildrens:after {
   font-family: FontAwesome;
   content: "\f054";
   display: inline-block;
   margin-left: 1em;
   vertical-align: middle;
  }

#rfd15 #portal-globalnav li:hover > ul {
  box-shadow: 10px 10px 5px #888888;
  }
#rfd15 #portal-globalnav ul ul {
  box-shadow: 10px 10px 5px #888888;
  }
#rfd15 #portal-globalnav li.selected ul li a {
  background-color:#fff;
  color:#205C90;
  }



#rfd15 .mobileMenu select {
   background: transparent;
   width: 320px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#rfd15 .mobileMenu{
   width: 300px;
   height: 40px;
   overflow: hidden;
   background: url(navicon.svg) no-repeat 96% #fff;
   color: #205C90;
   font-weight: 500;
   font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0 0 0.5em;
    padding: 0.5em;
    float: left;
    display: none;
}


/* info per film */
span.filmlabels i{
    padding-left: 1em;
}
#content span.filmlabels ul{list-style-type: none; margin-left: 0;}
span.filmlabels {color: #666;}

/* slider */


#slider-wrapper #slider-panes {
    max-width: 1920px;
}

#content #slider-wrapper .sliderText {
    background-image: none;
    color: #000;
    left: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#content #slider-wrapper .sliderText h2.documentFirstHeading{
    display:none;
}
#content #slider-wrapper .sliderText span p{
    display: none;
}
#content #slider-wrapper ul.slick-dots {display: none!important;}

#slider-panes .slick-prev:before {
    font-family: FontAwesome;
    content: "\f053";
    font-size: 1em;
    line-height: 1em;
    white-space: nowrap;
}
#slider-panes .slick-next:before {
    font-family: FontAwesome;
    content: "\f054";
    font-size: 1em;
    line-height: 1em;
    white-space: nowrap;
}
#slider-panes .slick-prev:before, #slider-panes .slick-next:before {
    color: #2a6cbe;
    font-size: 22.75px;
    vertical-align: middle;
}
#slider-panes .slick-prev:hover:before, #slider-panes .slick-next:hover:before {
    color: #154c91;
}
@media screen and (max-width: 769px) {
#slider-panes {
    background: none repeat scroll 0 0 #ffffff;
}
#container #slider-wrapper .sliderText {
    padding: 2%;
    position: relative;
    width: 96%;
}
}

/*plonetruegallery*/
#content .ContentFlow .scrollbar{display:none;}

/* search */
#searchbt, #portal-globalnav #seletor {display:none;}

#portal-searchbox .searchButton {
background:transparent;
color: #00207F;
border-width:0;
margin: 10px 0 0 10px;
font-size: 1.5em;
}

#portal-searchbox {float: right; margin: 3.5%  1% 0 0; font-size: 1em;}
#portal-searchbox #searchGadget {
    padding: 1.2% 0  1.1% 0;
    margin-right: 0.6%;
    text-indent: 2%;
    width: 72%;
}
#portal-searchbox .searchButton {text-align:center;}
#LSResult {z-index:1; margin-top: 0.5%;color: #000000;}

#viewlet-social-like {
    margin: 15px;
}

/*eea.facetedsearch*/
#content #faceted-form {
    font-size: 85%;
}


.photoAlbumEntry {
  background-image: none;
  background-repeat: no-repeat;
  float: left;
  height: 320px;
  margin: 0;
  overflow: hidden;
  padding: 0 6px 0 9px;
  position: relative;
  text-align: left;
  width: 300px;
}

#rfd15 .photoAlbumEntry a, .photoAlbumEntry a:link, .photoAlbumEntry a:visited {
  display: block;
  font-size: 100%;
  color: #000;
  height: 200px;
  margin: 10px auto 0;
  text-decoration: none;
  width: 280px;
}
.photoAlbumEntryTitle {
  color: #00207F;
  font-size: 140%;
  display: block;
  height: 1.6em;
  width: 280px;
}


/*doormat*/
#doormat #c-doormat{

background: #312682; /* Old browsers */
background: -moz-linear-gradient(top,  #312682 0%, #312682 7%, #4b2683 16%, #4e2583 17%, #512584 17%, #522582 18%, #572584 19%, #582582 20%, #5b2583 20%, #612483 22%, #642484 22%, #662384 24%, #692383 24%, #6f2483 26%, #732281 27%, #762282 27%, #782182 29%, #7b2181 29%, #7e2081 29%, #831f81 32%, #8a1e83 33%, #901c81 35%, #931c82 35%, #951b80 36%, #981b81 36%, #9e1982 38%, #a01980 38%, #a01982 39%, #a71580 40%, #a81780 41%, #ab1380 42%, #ac1580 42%, #ac1280 42%, #b21280 43%, #b70f80 45%, #ba0d80 45%, #ba0b80 46%, #bf0a7f 47%, #c2047e 48%, #c90080 50%, #cb007e 50%, #ce007f 52%, #d1007f 52%, #d50080 53%, #d8007d 54%, #db007e 54%, #e2007e 57%, #e5007f 57%, #e6007e 59%, #e6027d 59%, #e6077c 59%, #e6077c 59%, #e60c7c 59%, #e5107c 60%, #e7147d 60%, #e7147d 60%, #e8177c 60%, #e71e7c 61%, #e8247a 61%, #e8247a 61%, #e72878 62%, #e72a7a 62%, #e72c79 62%, #e72f79 63%, #e93179 63%, #e83376 63%, #e93479 63%, #e83376 63%, #e83376 64%, #e83878 64%, #e83974 64%, #e83a77 64%, #e83c74 65%, #e94174 65%, #e94371 66%, #e94671 66%, #eb4d70 68%, #e94e6e 68%, #eb526e 69%, #ea526b 69%, #ea526b 69%, #ea546d 69%, #ea546d 69%, #e9546a 69%, #eb5a67 71%, #eb5e67 71%, #ed6162 72%, #eb6363 72%, #ed6361 73%, #ec655f 74%, #ed675c 74%, #ed685f 74%, #ec685c 74%, #ee6a5d 74%, #ed695a 74%, #ee6d5a 75%, #ec6e57 76%, #ef6f56 76%, #ef7254 77%, #ee7151 77%, #ef754e 78%, #ed764c 78%, #f0774c 78%, #f0774a 78%, #ee7848 79%, #ef7c43 80%, #ef7d3f 80%, #f07e3f 81%, #f07f3b 81%, #f1803c 81%, #f08235 82%, #f18431 83%, #f2862c 83%, #f2862b 84%, #f08825 84%, #f38925 85%, #f38a1f 85%, #f18b1f 85%, #f28e12 87%, #f18e0f 87%, #f29009 87%, #f38f06 87%, #f38e08 88%, #f49004 88%, #f39000 88%, #f29200 89%, #f59701 90%, #f39800 90%, #f8ac01 94%, #fbb600 96%, #fbba00 96%, #fec901 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#312682), color-stop(7%,#312682), color-stop(16%,#4b2683), color-stop(17%,#4e2583), color-stop(17%,#512584), color-stop(18%,#522582), color-stop(19%,#572584), color-stop(20%,#582582), color-stop(20%,#5b2583), color-stop(22%,#612483), color-stop(22%,#642484), color-stop(24%,#662384), color-stop(24%,#692383), color-stop(26%,#6f2483), color-stop(27%,#732281), color-stop(27%,#762282), color-stop(29%,#782182), color-stop(29%,#7b2181), color-stop(29%,#7e2081), color-stop(32%,#831f81), color-stop(33%,#8a1e83), color-stop(35%,#901c81), color-stop(35%,#931c82), color-stop(36%,#951b80), color-stop(36%,#981b81), color-stop(38%,#9e1982), color-stop(38%,#a01980), color-stop(39%,#a01982), color-stop(40%,#a71580), color-stop(41%,#a81780), color-stop(42%,#ab1380), color-stop(42%,#ac1580), color-stop(42%,#ac1280), color-stop(43%,#b21280), color-stop(45%,#b70f80), color-stop(45%,#ba0d80), color-stop(46%,#ba0b80), color-stop(47%,#bf0a7f), color-stop(48%,#c2047e), color-stop(50%,#c90080), color-stop(50%,#cb007e), color-stop(52%,#ce007f), color-stop(52%,#d1007f), color-stop(53%,#d50080), color-stop(54%,#d8007d), color-stop(54%,#db007e), color-stop(57%,#e2007e), color-stop(57%,#e5007f), color-stop(59%,#e6007e), color-stop(59%,#e6027d), color-stop(59%,#e6077c), color-stop(59%,#e6077c), color-stop(59%,#e60c7c), color-stop(60%,#e5107c), color-stop(60%,#e7147d), color-stop(60%,#e7147d), color-stop(60%,#e8177c), color-stop(61%,#e71e7c), color-stop(61%,#e8247a), color-stop(61%,#e8247a), color-stop(62%,#e72878), color-stop(62%,#e72a7a), color-stop(62%,#e72c79), color-stop(63%,#e72f79), color-stop(63%,#e93179), color-stop(63%,#e83376), color-stop(63%,#e93479), color-stop(63%,#e83376), color-stop(64%,#e83376), color-stop(64%,#e83878), color-stop(64%,#e83974), color-stop(64%,#e83a77), color-stop(65%,#e83c74), color-stop(65%,#e94174), color-stop(66%,#e94371), color-stop(66%,#e94671), color-stop(68%,#eb4d70), color-stop(68%,#e94e6e), color-stop(69%,#eb526e), color-stop(69%,#ea526b), color-stop(69%,#ea526b), color-stop(69%,#ea546d), color-stop(69%,#ea546d), color-stop(69%,#e9546a), color-stop(71%,#eb5a67), color-stop(71%,#eb5e67), color-stop(72%,#ed6162), color-stop(72%,#eb6363), color-stop(73%,#ed6361), color-stop(74%,#ec655f), color-stop(74%,#ed675c), color-stop(74%,#ed685f), color-stop(74%,#ec685c), color-stop(74%,#ee6a5d), color-stop(74%,#ed695a), color-stop(75%,#ee6d5a), color-stop(76%,#ec6e57), color-stop(76%,#ef6f56), color-stop(77%,#ef7254), color-stop(77%,#ee7151), color-stop(78%,#ef754e), color-stop(78%,#ed764c), color-stop(78%,#f0774c), color-stop(78%,#f0774a), color-stop(79%,#ee7848), color-stop(80%,#ef7c43), color-stop(80%,#ef7d3f), color-stop(81%,#f07e3f), color-stop(81%,#f07f3b), color-stop(81%,#f1803c), color-stop(82%,#f08235), color-stop(83%,#f18431), color-stop(83%,#f2862c), color-stop(84%,#f2862b), color-stop(84%,#f08825), color-stop(85%,#f38925), color-stop(85%,#f38a1f), color-stop(85%,#f18b1f), color-stop(87%,#f28e12), color-stop(87%,#f18e0f), color-stop(87%,#f29009), color-stop(87%,#f38f06), color-stop(88%,#f38e08), color-stop(88%,#f49004), color-stop(88%,#f39000), color-stop(89%,#f29200), color-stop(90%,#f59701), color-stop(90%,#f39800), color-stop(94%,#f8ac01), color-stop(96%,#fbb600), color-stop(96%,#fbba00), color-stop(100%,#fec901)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #312682 0%,#312682 7%,#4b2683 16%,#4e2583 17%,#512584 17%,#522582 18%,#572584 19%,#582582 20%,#5b2583 20%,#612483 22%,#642484 22%,#662384 24%,#692383 24%,#6f2483 26%,#732281 27%,#762282 27%,#782182 29%,#7b2181 29%,#7e2081 29%,#831f81 32%,#8a1e83 33%,#901c81 35%,#931c82 35%,#951b80 36%,#981b81 36%,#9e1982 38%,#a01980 38%,#a01982 39%,#a71580 40%,#a81780 41%,#ab1380 42%,#ac1580 42%,#ac1280 42%,#b21280 43%,#b70f80 45%,#ba0d80 45%,#ba0b80 46%,#bf0a7f 47%,#c2047e 48%,#c90080 50%,#cb007e 50%,#ce007f 52%,#d1007f 52%,#d50080 53%,#d8007d 54%,#db007e 54%,#e2007e 57%,#e5007f 57%,#e6007e 59%,#e6027d 59%,#e6077c 59%,#e6077c 59%,#e60c7c 59%,#e5107c 60%,#e7147d 60%,#e7147d 60%,#e8177c 60%,#e71e7c 61%,#e8247a 61%,#e8247a 61%,#e72878 62%,#e72a7a 62%,#e72c79 62%,#e72f79 63%,#e93179 63%,#e83376 63%,#e93479 63%,#e83376 63%,#e83376 64%,#e83878 64%,#e83974 64%,#e83a77 64%,#e83c74 65%,#e94174 65%,#e94371 66%,#e94671 66%,#eb4d70 68%,#e94e6e 68%,#eb526e 69%,#ea526b 69%,#ea526b 69%,#ea546d 69%,#ea546d 69%,#e9546a 69%,#eb5a67 71%,#eb5e67 71%,#ed6162 72%,#eb6363 72%,#ed6361 73%,#ec655f 74%,#ed675c 74%,#ed685f 74%,#ec685c 74%,#ee6a5d 74%,#ed695a 74%,#ee6d5a 75%,#ec6e57 76%,#ef6f56 76%,#ef7254 77%,#ee7151 77%,#ef754e 78%,#ed764c 78%,#f0774c 78%,#f0774a 78%,#ee7848 79%,#ef7c43 80%,#ef7d3f 80%,#f07e3f 81%,#f07f3b 81%,#f1803c 81%,#f08235 82%,#f18431 83%,#f2862c 83%,#f2862b 84%,#f08825 84%,#f38925 85%,#f38a1f 85%,#f18b1f 85%,#f28e12 87%,#f18e0f 87%,#f29009 87%,#f38f06 87%,#f38e08 88%,#f49004 88%,#f39000 88%,#f29200 89%,#f59701 90%,#f39800 90%,#f8ac01 94%,#fbb600 96%,#fbba00 96%,#fec901 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #312682 0%,#312682 7%,#4b2683 16%,#4e2583 17%,#512584 17%,#522582 18%,#572584 19%,#582582 20%,#5b2583 20%,#612483 22%,#642484 22%,#662384 24%,#692383 24%,#6f2483 26%,#732281 27%,#762282 27%,#782182 29%,#7b2181 29%,#7e2081 29%,#831f81 32%,#8a1e83 33%,#901c81 35%,#931c82 35%,#951b80 36%,#981b81 36%,#9e1982 38%,#a01980 38%,#a01982 39%,#a71580 40%,#a81780 41%,#ab1380 42%,#ac1580 42%,#ac1280 42%,#b21280 43%,#b70f80 45%,#ba0d80 45%,#ba0b80 46%,#bf0a7f 47%,#c2047e 48%,#c90080 50%,#cb007e 50%,#ce007f 52%,#d1007f 52%,#d50080 53%,#d8007d 54%,#db007e 54%,#e2007e 57%,#e5007f 57%,#e6007e 59%,#e6027d 59%,#e6077c 59%,#e6077c 59%,#e60c7c 59%,#e5107c 60%,#e7147d 60%,#e7147d 60%,#e8177c 60%,#e71e7c 61%,#e8247a 61%,#e8247a 61%,#e72878 62%,#e72a7a 62%,#e72c79 62%,#e72f79 63%,#e93179 63%,#e83376 63%,#e93479 63%,#e83376 63%,#e83376 64%,#e83878 64%,#e83974 64%,#e83a77 64%,#e83c74 65%,#e94174 65%,#e94371 66%,#e94671 66%,#eb4d70 68%,#e94e6e 68%,#eb526e 69%,#ea526b 69%,#ea526b 69%,#ea546d 69%,#ea546d 69%,#e9546a 69%,#eb5a67 71%,#eb5e67 71%,#ed6162 72%,#eb6363 72%,#ed6361 73%,#ec655f 74%,#ed675c 74%,#ed685f 74%,#ec685c 74%,#ee6a5d 74%,#ed695a 74%,#ee6d5a 75%,#ec6e57 76%,#ef6f56 76%,#ef7254 77%,#ee7151 77%,#ef754e 78%,#ed764c 78%,#f0774c 78%,#f0774a 78%,#ee7848 79%,#ef7c43 80%,#ef7d3f 80%,#f07e3f 81%,#f07f3b 81%,#f1803c 81%,#f08235 82%,#f18431 83%,#f2862c 83%,#f2862b 84%,#f08825 84%,#f38925 85%,#f38a1f 85%,#f18b1f 85%,#f28e12 87%,#f18e0f 87%,#f29009 87%,#f38f06 87%,#f38e08 88%,#f49004 88%,#f39000 88%,#f29200 89%,#f59701 90%,#f39800 90%,#f8ac01 94%,#fbb600 96%,#fbba00 96%,#fec901 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #312682 0%,#312682 7%,#4b2683 16%,#4e2583 17%,#512584 17%,#522582 18%,#572584 19%,#582582 20%,#5b2583 20%,#612483 22%,#642484 22%,#662384 24%,#692383 24%,#6f2483 26%,#732281 27%,#762282 27%,#782182 29%,#7b2181 29%,#7e2081 29%,#831f81 32%,#8a1e83 33%,#901c81 35%,#931c82 35%,#951b80 36%,#981b81 36%,#9e1982 38%,#a01980 38%,#a01982 39%,#a71580 40%,#a81780 41%,#ab1380 42%,#ac1580 42%,#ac1280 42%,#b21280 43%,#b70f80 45%,#ba0d80 45%,#ba0b80 46%,#bf0a7f 47%,#c2047e 48%,#c90080 50%,#cb007e 50%,#ce007f 52%,#d1007f 52%,#d50080 53%,#d8007d 54%,#db007e 54%,#e2007e 57%,#e5007f 57%,#e6007e 59%,#e6027d 59%,#e6077c 59%,#e6077c 59%,#e60c7c 59%,#e5107c 60%,#e7147d 60%,#e7147d 60%,#e8177c 60%,#e71e7c 61%,#e8247a 61%,#e8247a 61%,#e72878 62%,#e72a7a 62%,#e72c79 62%,#e72f79 63%,#e93179 63%,#e83376 63%,#e93479 63%,#e83376 63%,#e83376 64%,#e83878 64%,#e83974 64%,#e83a77 64%,#e83c74 65%,#e94174 65%,#e94371 66%,#e94671 66%,#eb4d70 68%,#e94e6e 68%,#eb526e 69%,#ea526b 69%,#ea526b 69%,#ea546d 69%,#ea546d 69%,#e9546a 69%,#eb5a67 71%,#eb5e67 71%,#ed6162 72%,#eb6363 72%,#ed6361 73%,#ec655f 74%,#ed675c 74%,#ed685f 74%,#ec685c 74%,#ee6a5d 74%,#ed695a 74%,#ee6d5a 75%,#ec6e57 76%,#ef6f56 76%,#ef7254 77%,#ee7151 77%,#ef754e 78%,#ed764c 78%,#f0774c 78%,#f0774a 78%,#ee7848 79%,#ef7c43 80%,#ef7d3f 80%,#f07e3f 81%,#f07f3b 81%,#f1803c 81%,#f08235 82%,#f18431 83%,#f2862c 83%,#f2862b 84%,#f08825 84%,#f38925 85%,#f38a1f 85%,#f18b1f 85%,#f28e12 87%,#f18e0f 87%,#f29009 87%,#f38f06 87%,#f38e08 88%,#f49004 88%,#f39000 88%,#f29200 89%,#f59701 90%,#f39800 90%,#f8ac01 94%,#fbb600 96%,#fbba00 96%,#fec901 100%); /* IE10+ */
background: linear-gradient(to bottom,  #312682 0%,#312682 7%,#4b2683 16%,#4e2583 17%,#512584 17%,#522582 18%,#572584 19%,#582582 20%,#5b2583 20%,#612483 22%,#642484 22%,#662384 24%,#692383 24%,#6f2483 26%,#732281 27%,#762282 27%,#782182 29%,#7b2181 29%,#7e2081 29%,#831f81 32%,#8a1e83 33%,#901c81 35%,#931c82 35%,#951b80 36%,#981b81 36%,#9e1982 38%,#a01980 38%,#a01982 39%,#a71580 40%,#a81780 41%,#ab1380 42%,#ac1580 42%,#ac1280 42%,#b21280 43%,#b70f80 45%,#ba0d80 45%,#ba0b80 46%,#bf0a7f 47%,#c2047e 48%,#c90080 50%,#cb007e 50%,#ce007f 52%,#d1007f 52%,#d50080 53%,#d8007d 54%,#db007e 54%,#e2007e 57%,#e5007f 57%,#e6007e 59%,#e6027d 59%,#e6077c 59%,#e6077c 59%,#e60c7c 59%,#e5107c 60%,#e7147d 60%,#e7147d 60%,#e8177c 60%,#e71e7c 61%,#e8247a 61%,#e8247a 61%,#e72878 62%,#e72a7a 62%,#e72c79 62%,#e72f79 63%,#e93179 63%,#e83376 63%,#e93479 63%,#e83376 63%,#e83376 64%,#e83878 64%,#e83974 64%,#e83a77 64%,#e83c74 65%,#e94174 65%,#e94371 66%,#e94671 66%,#eb4d70 68%,#e94e6e 68%,#eb526e 69%,#ea526b 69%,#ea526b 69%,#ea546d 69%,#ea546d 69%,#e9546a 69%,#eb5a67 71%,#eb5e67 71%,#ed6162 72%,#eb6363 72%,#ed6361 73%,#ec655f 74%,#ed675c 74%,#ed685f 74%,#ec685c 74%,#ee6a5d 74%,#ed695a 74%,#ee6d5a 75%,#ec6e57 76%,#ef6f56 76%,#ef7254 77%,#ee7151 77%,#ef754e 78%,#ed764c 78%,#f0774c 78%,#f0774a 78%,#ee7848 79%,#ef7c43 80%,#ef7d3f 80%,#f07e3f 81%,#f07f3b 81%,#f1803c 81%,#f08235 82%,#f18431 83%,#f2862c 83%,#f2862b 84%,#f08825 84%,#f38925 85%,#f38a1f 85%,#f18b1f 85%,#f28e12 87%,#f18e0f 87%,#f29009 87%,#f38f06 87%,#f38e08 88%,#f49004 88%,#f39000 88%,#f29200 89%,#f59701 90%,#f39800 90%,#f8ac01 94%,#fbb600 96%,#fbba00 96%,#fec901 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#312682', endColorstr='#fec901',GradientType=0 ); /* IE6-9 */


    color: #FFFFFF;
    font-size: 130%;}
#doormat a:link {color:#FFFFFF;}
#doormat a:hover {color:#FFFFFF; text-decoration: underline;}
#doormat a:visited {color:#FFFFFF;}
#doormat #c-doormat.row{margin: 0 0 0 0;}
.smallprint{font-size: 70%;font-weight:300;}
#content .discreet, #sidebar .discreet {
    color: #333;
    font-size: 85%;
    font-weight: 300;
}
#doormat #c-doormat-sitemap{
    margin: 0 0 0 1em;
}
#doormat #c-doormat-sitemap dl
{
    color: #FFFFFF;
    width: 20%;
    float: left;
    min-width: 310px;
}
#doormat #c-doormat-sitemap dt
{
    color: #FFFFFF;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    font-weight: 300;
}
#socialmedia {
    float: right;
}

#doormat #c-doormat-footer {margin: 0 2em 1em 0; float: right;}
/****************** Basic Stuff ***********************/

#content {font-size: 110%;}
p {line-height: 1.6em; margin: 0 0 1em 0;}
h1, h2, h3 {margin: 0.5em 0 1.2em 0;}
.hidden {display: none;}
.clear {clear: both;}
.pb-ajax, .pb-image,.overlay iframe {font-size: 1.3em;}
div.overlay-iframe, div.overlay-ajax {left:11%!important; width:75%;}
.portlet img, #content img {max-width:100%;}

/*header*/
#header {background-size:100% auto; position:relative;}

#portal-personaltools {font-size: 1.1em;}


#content ul.configlets li label {
    font-weight: 300;
}

/* Site Actions */
#portal-siteactions {font-size: 100%; text-align: left; display:inline;}

body
{
    line-height: 180%;
}

img, img.image-left, img.image-right, .captioned img {
    border:0;
}

#payoff
{
    float: right;
    font-size: 150%;
    font-weight: 500;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    margin: 1em 3em 0 0;
    color: #00207F;
}
#logo
{

    padding: 10px 0 10px 0;
    float: left;
    margin: 1em 0 0 1em;

}

#logo a {display:block; width:100%;}
#logo a:hover,a:focus {text-decoration: none;color: #00207F;}




#logo img {max-width:100%;}


.state-published {
    color: #000000 !important;
}



div.position-1\:4 {
    margin-left: -74.875%;
}

#portal-column-content{
 /*   border-right: 2px dashed #000000;
    border-left: 2px dashed #000000; */
    padding-left: 1em;
    padding-right: 1em;
}


#portal-breadcrumbs
{
    font-size: 110%;
    margin-left: 1.9em;
    margin-right: 1.5em;
    border-bottom: 2px dashed #F5F5F5;
    padding-top: 1.5em;
    padding-bottom: 0.8em;
}

#portal-breadcrumbs a:hover
{
    text-decoration: underline;
}

#breadcrumbs-current
{
    color: #000000;
}

.documentActions
{
    font-size: 130%;
    float: right;
    height: 46px;
    margin:0.5em 1.0em 0 1.5em;
}

.documentActions ul
{
    height: 46px;
}

.documentActions ul li i
{
    margin-top: 3px;
    padding: 0 0 0 0.3em;
}

.icon-white {color: white;}

div.searchSection {
    display: none;
}

div#portal-searchbox
{
    height: 46px;
    clear: none;
    margin: 0;
    color: #00207F;
}

#portal-searchbox #searchGadget
{
    padding: 0 10px 0 0;
    margin:0;
    width: 60%;
    background-color: #F5F5F5;
    border-radius: 3px;
    border-width:0;
}
.searchButton
{   margin-top: 0.2em;}
.LSBox {
    height: 46px;
    width: 150px;
    font-size: 143%;
}

div.LSBox input#searchGadget
{
     border-radius:0
}

.portlet {border-bottom: 2px dashed #F5F5F5;padding-bottom: 1em;}

dl.portlet dt
{
    border-bottom: none;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 130%;
    padding: 0 0.42em;
}

dl.portlet dt a,
dl.portlet dt a:hover,
dl.portlet dt a:link
{
    color: #000000;
    background-color: #FFFFFF;
}

.portlet dd
{
    border-left: none;
    border-right: none;
}

dl.portlet {
    font-size: 90%;
}

dl.portlet dd.portletFooter
{
    background-color: #FFFFFF;
    color: #000000;
}

dl.portlet dd.portletFooter a,
dl.portlet dd.portletFooter a:hover,
dl.portlet dd.portletFooter a:link
{
    border-bottom: none;
    color: #000000;
}

dl.portlet li:last-child
{
    margin-bottom: 0;
}

.portletRelatedItems .relatedDiscription
{
    margin-top: 0.5em;
}

.portletRelatedItems img
{
    float: right;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

#content{
    margin: -1em 0.25em 2em;
}
#content img.tileImage, div.newsImageContainer{
    margin: 0 0 0.5em 0;
}
#content .documentDescription
{
    font: 14px "Roboto",Arial,Helvetica,sans-serif;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1em;
}

#content h1.documentFirstHeading
{
    font-size: 210%;
    line-height: 120%;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    color: #00207F;
}

#content h1
{
    font-size: 170%;
    line-height: 120%;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    color: #00207F;
}

#content h2
{
    font-size: 140%;
    line-height: 170%;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    color: #00207F;
}

#content h3
{
    font-size: 108%;
    line-height: 110%;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
}

#content h1 a:link, #content h1 a:visited
{
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    border-bottom: none;
}

#category {
    color: #666666;
    font-size: 75%;
    margin-bottom: 1em;
    text-align: right;
}
#category a.link-category, span.selectedTag {
    background: none;
    border-radius:0;
    color: #000000;
    padding: 0.25em 0 0.1em;
    border-bottom: 0.1em solid #0033CC;
    line-height: 1.6em;
}
#category a.link-category:hover {
    background: none;
    border-color:#fff;
    color: #666 !important;
}
#category .separator {
    display: none;
}
#content h2 > a:link , #content h2 > a:visited{
    font-weight:300;
    color: #0033CC;
    text-decoration:none;
}

#content h3 > a:link {font-weight:300;}
#content a:link, dl.portlet a:link {
    border-bottom: none;
}
#content a:hover, dl.portlet a:hover {
    color: #0033CC!important;
}
#content h2 > a:hover{color: #0033CC;}
#content div.newsImageContainer p.discreet {
    background-color: rgba(40, 40, 40, 0.7);
    color: White;
    font-weight: 500;
    margin: 0;
    padding: 0.4em;
    position: relative;
    top: -2em;
    width: 290px;
}

#content .tileItem {padding-top: 1em;border-top: 2px dashed #F5F5F5;}
#content div.row {
    border-bottom: 2px solid #692383;
    padding-top: 1em;
}
#content .tile
{
    margin-bottom: 30px;
    padding-right: 5px;
    padding-left: 0;
}

#content .tile img
{
    float: none;
    margin-right: auto;
    margin-bottom: 5px;
}

#content p.tileBody {
    margin-bottom: 0;
}
#content p.tileFooter {
    padding-bottom: 3em;
}

#e67cd60a9dbf43eba1369758d9c813e5
{
    border: none;
}

#fg-base-edit
{
    padding-right: 0.5em;
}

#fg-base-edit input[type=text]
{
    display: block;
    max-width: 100%;
    padding-right: 0.5 em;
}

#relatedItemBox dt
{
    font-size: 150%;
    color: #000000;
    margin-bottom: 0.5em;
}

#relatedItemBox dd a
{
    color: #000000 !important;
}

.biggallery .galleria-thumbnails-container {
    display: none;
}
.biggallery .galleria-info-description {
    font: italic 12px/1.4 arial,sans-serif;
    margin: 0;
    color: #00207F;
}

.biggallery .galleria-inner {
    height: 786px;
    width: 100%;
}

.biggallery .galleria-info {
    background-color: rgba(215, 215, 215, 0.85);
    color: #666666;
}

#LSResult {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 1em 0 0 -7em;
    position: absolute;
    right: 0;
}
#LSResult fieldset {
    border: 0.1em solid #CCCCCC;
    padding: 1em 0 0;
}
#livesearchLegend {
    background-color: #CCCCCC;
    padding: 0.3em;
}
#LSResult .LSDescr {
    color: #666666;
    font-size: 85%;
}
.LSRow, #LSNothingFound {
    display: block;
    padding: 0.5em 1em;
    white-space: normal;
    width: 28em;
}

#edit-bar {min-height:3em;}
b, strong {
    font-weight: 500;
}

/****************** Form overrides ***********************/

@media screen {
    fieldset, .editionComment {
        line-height: 1.5em;
        margin: 1em 0;
        padding: 0 1em 1em;
        width: auto;
    }
    #content .field input[type="text"][name$=".title"], #archetypes-fieldname-title input {
        color: #000000;
        font-family: "Roboto",Arial,FreeSans,sans-serif;
        font-weight: 300;
        line-height: 125%;
    }
    #content .field textarea[name$=".description"], #archetypes-fieldname-description textarea#description {
        color: #666666;
        font-family: "Roboto",Arial,FreeSans,sans-serif;
        font-size: 1.25em;
        font-weight: 300;
    }
    div.formControls {
        margin: 1em;
    }
    input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
        background-color: #ffffe0;
    }
    #content textarea {
        font: 100% "Monaco","Courier New",Courier,monospace;
        width: 100%;
    }
    #content select {
        vertical-align: top;
    }
    #content fieldset {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #329fd7;
        border-image: none;
        border-style: solid none none;
        border-width: 0.1em;
    }
    #content legend {
        font-size: 85%;
        padding: 0.5em;
    }
    label {
        font-weight: 300;
    }
    label .fieldErrorBox {
        font-weight: 300;
    }
    #content label {
    }
    #content optgroup {
        color: #999;
        font-style: normal;
        font-weight: 300;
        padding-left: 0.25em;
    }
    #content option {
        color: #000000;
    }
    #content optgroup > option {
        padding: 0 0.25em 0 1em;
    }
    dl.enableFormTabbing dd {
        margin-left: 0;
        padding-top: 2em;
    }
    .searchSection {
        color: #76797c;
        margin-top: 0.25em;
    }
    .searchSection label:hover {
        color: #000000;
    }
    .field {
        clear: both;
        margin-bottom: 1em;
    }
    .field input[type="text"] {
        width: 20em;
    }
    .field input[type="text"][size] {
        width: auto;
    }
    .field input[type="text"][name$=".title"], input#title {
        width: 100%;
    }
    .field.error input[type="text"][name$=".title"], .error input#title {
        width: 99%;
    }
    .fieldRequired {
        background: url("required.png") no-repeat scroll left center rgba(0, 0, 0, 0);
        color: white;
        padding: 0 0 0 1em;
    }
    .fieldUploadFile {
        display: none;
        margin-right: 0.75em;
        text-align: right;
    }
    .fieldTextFormat {
        margin-right: 0.75em;
        text-align: right;
    }
    .formHelp {
        color: #555;
        display: block;
        font-weight: 300;
        margin: 0 0 0.2em;
    }
    div.field.error {
        background-color: #fdc;
        border: 1px solid red;
        margin: 1em 0;
        padding: 0.5em;
    }
    .error .fieldRequired {
        color: #d00;
    }
    div.error.warning {
        background-color: transparent;
        border: medium none;
        margin-top: 0;
        padding: 0;
    }
    div.error.warning input {
        border: 2px solid red;
    }
    input.inputLabelActive {
        color: #76797c;
    }
    textarea#form\.description {
        height: 6em;
        width: 99%;
    }
    table.listing tbody tr.odd.selected td, table.listing tbody tr.odd.dragging td, tr.dragging, tr.selected {
        background-color: #ffa;
    }
    table.listing tbody tr.odd.error td, tr.error {
        background-color: #fdc;
    }
    .multi-widget-field {
        border-left: 1.5em solid #ddd;
        padding-left: 0.5em;
    }
    .multi-widget-checkbox {
        display: inline-block;
        margin-left: -2em;
        margin-right: 0.5em;
        width: 1.5em;
    }
    body.template-logged_out #content, body.template-login_form #content, .pb-ajax #login-form {
        text-align: center;
    }
    #fieldset-openid-login input, #login-form input {
        font-size: 150%;
    }
    body.template-register #content input, body.template-new-user #content input {
        font-size: 150%;
        width: inherit;
    }
    #fieldset-openid-login label, #login-form label {
        display: inline-block;
        margin-right: 0.5em;
        padding-top: 0.2em;
        text-align: right;
        width: 10em;
    }
    #fieldset-openid-login .formControls input, #login-form .formControls input {
        margin-left: 0.25em;
    }
    .label {
        display: inline;
        font-weight: 300;
    }
}

/* Responsive Design Magic*/


@media all and (max-width: 940px) {
    #payoff {position: relative;}
}

@media screen and (max-width: 768px) {

#portal-globalnav.mobileMenuOn {
    display: none;
}
#rfd15 .mobileMenu{
    display: block;
}

    #payoff {
        bottom: 0!important;
        font-size: 125%!important;
    }

    .wrapper {max-width: 100%;}
    #logo {min-width:174px; float: none;}

    /*Columns*/
    #portal-column-one,
    #portal-column-two,
    #portal-column-content {clear: both; width: 97.75%; margin-left: -98.875%;}

    /*Search*/
    #portal-searchbox  {display:none;}

    /*Global navigation*/
    #portal-globalnav {padding:0;width:100%;
    }

    #searchbt {display:block; float:right;width:20%; }

    #searchbt a {
        display:block;
        text-align: center;
        padding: 1em;
        color: #0040FF;
    }

    #portal-globalnav #seletor {
        display:block;
        padding:1em;
        width:80%;
        color: #00207F;
        background-color: #fafafa;
     }
     #portal-globalnav #navicon{text-align: right;}

    #portal-globalnav li {display: none;}

    #nav:hover li {
        display: block;
        width:100%;
        display:block !important;
        padding:0;
    }

    #portal-globalnav ul {
        width:97.5%;
        margin:0;
        padding:0;
    }

    #nav:hover li a {
        color: #00207F;
        width:100%;
        padding:0 2.5%;
        line-height: 3em;
      display: block;
      width: 95% !important;
    }

    #nav:hover li:hover {background: #00207F;}
    #nav:hover li a:hover,
    #nav:hover li.selected a {background: #00207F; color: #ffffff;}

.overlay.overlay-ajax {top: 10px !important;}
.overlay.overlay-ajax input.searchPage {
    font-size: 200% !important;
    width: 90%;
    margin-bottom:1em;
}
.overlay.overlay-ajax input.searchPage.searchButton {width:auto;}
.overlay.overlay-ajax #searchform .discreet {text-align:left;}
.overlay.overlay-ajax #content-core strong {display:none;}

}

@media screen and (max-width: 480px) {

    #payoff {display:none;}

    #portal-breadcrumbs {display:none;}

    #portal-searchbox {
        float: none;
        width:80%;
        clear:both;
        margin: 0 auto 2%;
}
}
