
/* reset */
* {margin:0; padding:0; vertical-align:baseline;}

/* palette: #00207F lightest, #0040FF most lila, #0033CC light, #00207F darker, #00207F almost black */
/* blues: #00207F dark, ; #0033CC brighter ; #0040FF brightest; /*

/* Colors and fonts */
body {
    background: #FFFFFF;
    color: #000000;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 300;
}
a:link, a:visited, #content a:link, #content a:visited, dl.portlet a:link {color:#0033CC;}
a:hover {color:#00207F;}
h1, h2, h3, h4, h5, h6 {font-family: "Roboto", Arial, Helvetica, sans-serif;color: #00207F;}
.wrapper { width:auto; margin: 0 auto; }
#main {background:#FFFFFF; font-size: 1.3em; padding: 1em 0;}
/* navigation */
#rfd15 #portal-globalnav {background: transparent;
      text-align: left;
      color: #00207F;
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-size: 170%;
      font-weight: 500;
      padding: 0 2em 0 1em;}
#rfd15 #portal-globalnav a {color: #00207F; padding: 1.1em 1.1em 1em 0.8em; text-decoration: none;}
#rfd15 #portal-globalnav a, #portal-globalnav li {
    border-top: 3px solid white;
}
#rfd15 #portal-globalnav a:hover, #portal-globalnav li.selected a {
    color: #0040FF;
    border-top: 3px solid #0040FF;
}


#rfd15 #portal-globalnav li.selected a {
  background-color:white;
}
#rfd15 #portal-globalnav li a {
  line-height: 0;
  background-color: white;
}


#portal-globalnav li {display: inline; }
a.hasChildrens:after {
   font-family: FontAwesome;
   content: "\f078";
   display: inline-block;
   margin-left: 1em;
   vertical-align: middle;
}
#rfd15 #portal-globalnav li a span{display:inline;}

#rfd15 #portal-globalnav ul li a.hasChildrens:after {
   font-family: FontAwesome;
   content: "\f054";
   display: inline-block;
   margin-left: 1em;
   vertical-align: middle;
  }

#rfd15 #portal-globalnav li:hover > ul {
  box-shadow: 10px 10px 5px #888888;
  }
#rfd15 #portal-globalnav ul ul {
  box-shadow: 10px 10px 5px #888888;
  }
#rfd15 #portal-globalnav li.selected ul li a {
  background-color:#fff;
  color:#205C90;
  }



#rfd15 .mobileMenu select {
   background: transparent;
   width: 320px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#rfd15 .mobileMenu{
   width: 300px;
   height: 40px;
   overflow: hidden;
   background: url(navicon.svg) no-repeat 96% #fff;
   color: #205C90;
   font-weight: 500;
   font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0 0 0.5em;
    padding: 0.5em;
    float: left;
    display: none;
}

/* slider */


#slider-wrapper #slider-panes {
    max-width: 1920px;
}

#content #slider-wrapper .sliderText {
    background-image: none;
    color: #000;
    left: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#content #slider-wrapper .sliderText h2.documentFirstHeading{
    font-size: 300%;
    background: none;
    color: rgba(255,255,255,0.7);
    margin: 0 14px 0 14px;
    line-height: 1.2em;
    font-weight: 500;
}
#content #slider-wrapper .sliderText span p{
    font-size: 100%;
    background: rgba(255,255,255,0.6);
    color: #00207F;
    padding: 0 14px 0 14px;
    margin-bottom: 0;
    line-height: 1.5em;
}
#content #slider-wrapper ul.slick-dots {display: none!important;}
#slider-wrapper .sliderText a {
    color: #000;
}
#slider-panes .slick-prev:before {
    font-family: FontAwesome;
    content: "\f053";
    font-size: 1em;
    line-height: 1em;
    white-space: nowrap;
}
#slider-panes .slick-next:before {
    font-family: FontAwesome;
    content: "\f054";
    font-size: 1em;
    line-height: 1em;
    white-space: nowrap;
}
#slider-panes .slick-prev:before, #slider-panes .slick-next:before {
    color: #2a6cbe;
    font-size: 22.75px;
    vertical-align: middle;
}
#slider-panes .slick-prev:hover:before, #slider-panes .slick-next:hover:before {
    color: #154c91;
}
@media screen and (max-width: 769px) {
#slider-panes {
    background: none repeat scroll 0 0 #ffffff;
}
#container #slider-wrapper .sliderText {
    padding: 2%;
    position: relative;
    width: 96%;
}
}



/* search */
#searchbt, #portal-globalnav #seletor {display:none;}

#portal-searchbox .searchButton {
background:transparent;
color: #00207F;
border-width:0;
margin: 10px 0 0 10px;
font-size: 1.5em;
}

#portal-searchbox {float: right; margin: 3.5%  1% 0 0; font-size: 1em;}
#portal-searchbox #searchGadget {
    padding: 1.2% 0  1.1% 0;
    margin-right: 0.6%;
    text-indent: 2%;
    width: 72%;
}
#portal-searchbox .searchButton {text-align:center;}
#LSResult {z-index:1; margin-top: 0.5%;color: #000000;}


/*doormat*/
#doormat #c-doormat{background-color: #00207F; color: #FFFFFF;
    font-size: 130%;}
#doormat a:link {color:#FFFFFF;}
#doormat a:hover {color:#FFFFFF; text-decoration: underline;}
#doormat a:visited {color:#FFFFFF;}
#doormat #c-doormat.row{margin: 0 0 0 0;}
.smallprint{font-size: 70%;font-weight:300;}
#content .discreet, #sidebar .discreet {
    color: #333;
    font-size: 85%;
    font-weight: 300;
}
#doormat #c-doormat-sitemap{
    margin: 0 0 0 1em;
}
#doormat #c-doormat-sitemap dl
{
    color: #FFFFFF;
    width: 20%;
    float: left;
    min-width: 310px;
}
#doormat #c-doormat-sitemap dt
{
    color: #FFFFFF;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    font-weight: 300;
}
#socialmedia {
    float: right;
}

#doormat #c-doormat-footer {margin: 0 2em 1em 0; float: right;}
/****************** Basic Stuff ***********************/

#content {font-size: 110%;}
p {line-height: 1.6em; margin: 0 0 1em 0;}
h1, h2, h3 {margin: 0.5em 0 1.2em 0;}
.hidden {display: none;}
.clear {clear: both;}
.pb-ajax, .pb-image,
.overlay iframe {font-size: 1.3em;}
div.overlay-iframe, div.overlay-ajax {left:11%!Important; width:75%;}
.portlet img, #content img {max-width:100%;}

/*header*/
#header {background-size:100% auto; position:relative;}

#portal-personaltools {font-size: 1.1em;}


#content ul.configlets li label {
    font-weight: 300;
}

/* Site Actions */
#portal-siteactions {font-size: 100%; text-align: left; display:inline;}

body
{
    line-height: 180%;
}

img, img.image-left, img.image-right, .captioned img {
    border:0;
}

#payoff
{
    float: right;
    font-size: 150%;
    font-weight: 500;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    margin: 1em 3em 0 0;
    color: #00207F;
}
#logo
{

    padding: 10px 0 10px 0;
    float: left;
    margin: 1em 0 0 1em;

}

#logo a {display:block; width:100%;}
#logo a:hover,a:focus {text-decoration: none;color: #00207F;}




#logo img {max-width:100%;}


.state-published {
    color: #000000 !important;
}



div.position-1\:4 {
    margin-left: -74.875%;
}

#portal-column-content{
 /*   border-right: 2px dashed #000000;
    border-left: 2px dashed #000000; */
    padding-left: 1em;
    padding-right: 1em;
}


#portal-breadcrumbs
{
    font-size: 110%;
    margin-left: 1.9em;
    margin-right: 1.5em;
    border-bottom: 2px dashed #F5F5F5;
    padding-top: 1.5em;
    padding-bottom: 0.8em;
}

#portal-breadcrumbs a:hover
{
    text-decoration: underline;
}

#breadcrumbs-current
{
    color: #000000;
}

.documentActions
{
    font-size: 130%;
    float: right;
    height: 46px;
    margin:0.5em 1.0em 0 1.5em;
}

.documentActions ul
{
    height: 46px;
}

.documentActions ul li i
{
    margin-top: 3px;
    padding: 0 0 0 0.3em;
}

.icon-white {color: white;}

div.searchSection {
    display: none;
}

div#portal-searchbox
{
    height: 46px;
    clear: none;
    margin: 0;
    color: #00207F;
}

#portal-searchbox #searchGadget
{
    padding: 0 10px 0 0;
    margin:0;
    width: 60%;
    background-color: #F5F5F5;
    border-radius: 3px;
    border-width:0;
}
.searchButton
{   margin-top: 0.2em;}
.LSBox {
    height: 46px;
    width: 150px;
    font-size: 143%;
}

div.LSBox input#searchGadget
{
     border-radius:0
}

.portlet {border-bottom: 2px dashed #F5F5F5;padding-bottom: 1em;}

dl.portlet dt
{
    border-bottom: none;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 130%;
    padding: 0 0.42em;
}

dl.portlet dt a,
dl.portlet dt a:hover,
dl.portlet dt a:link
{
    color: #000000;
    background-color: #FFFFFF;
}

.portlet dd
{
    border-left: none;
    border-right: none;
}

dl.portlet {
    font-size: 90%;
}

dl.portlet dd.portletFooter
{
    background-color: #FFFFFF;
    color: #000000;
}

dl.portlet dd.portletFooter a,
dl.portlet dd.portletFooter a:hover,
dl.portlet dd.portletFooter a:link
{
    border-bottom: none;
    color: #000000;
}

dl.portlet li:last-child
{
    margin-bottom: 0;
}

.portletRelatedItems .relatedDiscription
{
    margin-top: 0.5em;
}

.portletRelatedItems img
{
    float: right;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

#content{
    margin: -1em 0.25em 2em;
}
#content img.tileImage, div.newsImageContainer{
    margin: 0 0 0.5em 0;
}
#content .documentDescription
{
    font: 14px "Roboto",Arial,Helvetica,sans-serif;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1em;
}

#content h1.documentFirstHeading
{
    font-size: 210%;
    line-height: 120%;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    color: #00207F;
}

#content h1
{
    font-size: 170%;
    line-height: 120%;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    color: #00207F;
}

#content h2
{
    font-size: 140%;
    line-height: 170%;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    color: #00207F;
}

#content h3
{
    font-size: 108%;
    line-height: 110%;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
}

#content h1 a:link, #content h1 a:visited
{
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Roboto", Arial,Helvetica,sans-serif;
    border-bottom: none;
}

#category {
    color: #666666;
    font-size: 75%;
    margin-bottom: 1em;
    text-align: right;
}
#category a.link-category, span.selectedTag {
    background: none;
    border-radius:0;
    color: #000000;
    padding: 0.25em 0 0.1em;
    border-bottom: 0.1em solid #0033CC;
    line-height: 1.6em;
}
#category a.link-category:hover {
    background: none;
    border-color:#fff;
    color: #666 !important;
}
#category .separator {
    display: none;
}
#content h2 > a:link , #content h2 > a:visited{
    font-weight:300;
    color: #0033CC;
    text-decoration:none;
}

#content h3 > a:link {font-weight:300;}
#content a:link, dl.portlet a:link {
    border-bottom: none;
}
#content a:hover, dl.portlet a:hover {
    color: #0033CC!important;
}
#content h2 > a:hover{color: #0033CC;}
#content div.newsImageContainer p.discreet {
    background-color: rgba(40, 40, 40, 0.7);
    color: White;
    font-weight: 500;
    margin: 0;
    padding: 0.4em;
    position: relative;
    top: -2em;
    width: 290px;
}

#content .tileItem {padding-top: 1em;border-top: 2px dashed #F5F5F5;}
#content div.row {border-bottom: 2px dashed #F5F5F5;}
#content .tile
{
    margin-bottom: 30px;
    padding-right: 5px;
    padding-left: 0;
}

#content .tile img
{
    float: none;
    margin-right: auto;
    margin-bottom: 5px;
}

#content p.tileBody {
    margin-bottom: 0;
}
#content p.tileFooter {
    padding-bottom: 3em;
}

#e67cd60a9dbf43eba1369758d9c813e5
{
    border: none;
}

#fg-base-edit
{
    padding-right: 0.5em;
}

#fg-base-edit input[type=text]
{
    display: block;
    max-width: 100%;
    padding-rigth: 0.5 em;
}

#relatedItemBox dt
{
    font-size: 150%;
    color: #000000;
    margin-bottom: 0.5em;
}

#relatedItemBox dd a
{
    color: #000000 !important;
}

.biggallery .galleria-thumbnails-container {
    display: none;
}
.biggallery .galleria-info-description {
    font: italic 12px/1.4 arial,sans-serif;
    margin: 0;
    color: #00207F;
}

.biggallery .galleria-inner {
    height: 786px;
    width: 100%;
}

.biggallery .galleria-info {
    background-color: rgba(215, 215, 215, 0.85);
    color: #666666;
}

#LSResult {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 1em 0 0 -7em;
    position: absolute;
    right: 0;
}
#LSResult fieldset {
    border: 0.1em solid #CCCCCC;
    padding: 1em 0 0;
}
#livesearchLegend {
    background-color: #CCCCCC;
    padding: 0.3em;
}
#LSResult .LSDescr {
    color: #666666;
    font-size: 85%;
}
.LSRow, #LSNothingFound {
    display: block;
    padding: 0.5em 1em;
    white-space: 300;
    width: 28em;
}

#edit-bar {min-height:3em;}
b, strong {
    font-weight: 500;
}
/****************** Form overrides ***********************/

@media screen {
fieldset, .editionComment {
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0 1em 1em;
    width: auto;
}
#content .field input[type="text"][name$=".title"], #archetypes-fieldname-title input {
    color: #000000;
    font-family: "Roboto",Arial,FreeSans,sans-serif;
    font-weight: 300;
    line-height: 125%;
}
#content .field textarea[name$=".description"], #archetypes-fieldname-description textarea#description {
    color: #666666;
    font-family: "Roboto",Arial,FreeSans,sans-serif;
    font-size: 1.25em;
    font-weight: 300;
}
div.formControls {
    margin: 1em;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    background-color: #ffffe0;
}
#content textarea {
    font: 100% "Monaco","Courier New",Courier,monospace;
    width: 100%;
}
#content select {
    vertical-align: top;
}
#content fieldset {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #329fd7;
    border-image: none;
    border-style: solid none none;
    border-width: 0.1em;
}
#content legend {
    font-size: 85%;
    padding: 0.5em;
}
label {
    font-weight: 300;
}
label .fieldErrorBox {
    font-weight: 300;
}
#content label {
}
#content optgroup {
    color: #999;
    font-style: normal;
    font-weight: 300;
    padding-left: 0.25em;
}
#content option {
    color: #000000;
}
#content optgroup > option {
    padding: 0 0.25em 0 1em;
}
dl.enableFormTabbing dd {
    margin-left: 0;
    padding-top: 2em;
}
.searchSection {
    color: #76797c;
    margin-top: 0.25em;
}
.searchSection label:hover {
    color: #000000;
}
.field {
    clear: both;
    margin-bottom: 1em;
}
.field input[type="text"] {
    width: 20em;
}
.field input[type="text"][size] {
    width: auto;
}
.field input[type="text"][name$=".title"], input#title {
    width: 100%;
}
.field.error input[type="text"][name$=".title"], .error input#title {
    width: 99%;
}
.fieldRequired {
    background: url("required.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: White;
    padding: 0 0 0 1em;
}
.fieldUploadFile {
    display: none;
    margin-right: 0.75em;
    text-align: right;
}
.fieldTextFormat {
    margin-right: 0.75em;
    text-align: right;
}
.formHelp {
    color: #555;
    display: block;
    font-weight: 300;
    margin: 0 0 0.2em;
}
div.field.error {
    background-color: #fdc;
    border: 1px solid red;
    margin: 1em 0;
    padding: 0.5em;
}
.error .fieldRequired {
    color: #d00;
}
div.error.warning {
    background-color: transparent;
    border: medium none;
    margin-top: 0;
    padding: 0;
}
div.error.warning input {
    border: 2px solid red;
}
input.inputLabelActive {
    color: #76797c;
}
textarea#form\.description {
    height: 6em;
    width: 99%;
}
table.listing tbody tr.odd.selected td, table.listing tbody tr.odd.dragging td, tr.dragging, tr.selected {
    background-color: #ffa;
}
table.listing tbody tr.odd.error td, tr.error {
    background-color: #fdc;
}
.multi-widget-field {
    border-left: 1.5em solid #ddd;
    padding-left: 0.5em;
}
.multi-widget-checkbox {
    display: inline-block;
    margin-left: -2em;
    margin-right: 0.5em;
    width: 1.5em;
}
body.template-logged_out #content, body.template-login_form #content, .pb-ajax #login-form {
    text-align: center;
}
#fieldset-openid-login input, #login-form input {
    font-size: 150%;
}
body.template-register #content input, body.template-new-user #content input {
    font-size: 150%;
    width: inherit;
}
#fieldset-openid-login label, #login-form label {
    display: inline-block;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
    width: 10em;
}
#fieldset-openid-login .formControls input, #login-form .formControls input {
    margin-left: 0.25em;
}
}
.label {
    display: inline;
    font-weight: 300;
}



/* Responsive Design Magic*/


@media all and (max-width: 940px) {
    #payoff {position: relative;}
}

@media screen and (max-width: 768px) {

#portal-globalnav.mobileMenuOn {
    display: none;
}
#rfd15 .mobileMenu{
    display: block;
}

    #payoff {
        bottom: 0!important;
        font-size: 125%!important;
    }

    .wrapper {max-width: 100%;}
    #logo {min-width:174px; float: none;}

    /*Columns*/
    #portal-column-one,
    #portal-column-two,
    #portal-column-content {clear: both; width: 97.75%; margin-left: -98.875%;}

    /*Search*/
    #portal-searchbox  {display:none;}

    /*Global navigation*/
    #portal-globalnav {padding:0;width:100%;
    }

    #searchbt {display:block; float:right;width:20%; }

    #searchbt a {
        display:block;
        text-align: center;
        padding: 1em;
        color: #0040FF;

    }

    #portal-globalnav #seletor {
        display:block;
        padding:1em;
        width:80%;
        color: #00207F;
        background-color: #fafafa;
     }
     #portal-globalnav #navicon{text-align: right;}

    #portal-globalnav li {display: none;}

    #nav:hover li {
        display: block;
        width:100%;
        display:block !Important;
        padding:0;
    }

    #portal-globalnav ul {
        width:97.5%;
        margin:0;
        padding:0;
    }

    #nav:hover li a {
        color: #00207F;
        width:100%;
        padding:0 2.5%;
        line-height: 3em;
      display: block;
      width: 95% !important;
    }

    #nav:hover li:hover {background: #00207F;}
    #nav:hover li a:hover,
    #nav:hover li.selected a {background: #00207F; color: #ffffff;}

.overlay.overlay-ajax {top: 10px !Important;}
.overlay.overlay-ajax input.searchPage {
    font-size: 200% !important;
    width: 90%;
    margin-bottom:1em;
}
.overlay.overlay-ajax input.searchPage.searchButton {width:auto;}
.overlay.overlay-ajax #searchform .discreet {text-align:left;}
.overlay.overlay-ajax #content-core strong {display:none;}

}

@media screen and (max-width: 480px) {

    #payoff {display:none;}

    #portal-breadcrumbs {display:none;}

    #portal-searchbox {
        float: none;
        width:80%;
        clear:both;
        margin: 0 auto 2%;
}
}
